@{
    int MR = 0, AL = 0, NW = 0, UL = 0, S = 0;
}

@model IEnumerable<Opus.Models.ViewModels.TimeKeepingVM>
@*foreach (var item in Model)
    {

        @if (item.Today == "MR")
            MR++;
        if (item.Today == "AL")
            AL++;
        if (item.Today == "NW")
            NW++;
        if (item.Today == "UL")
            UL++;

    }*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/devexpress-diagram/2.1.65/dx-diagram.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/devexpress-gantt/4.1.33/dx-gantt.min.css" rel="stylesheet">


<!-- Theme stylesheets (reference only one of them) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.1.6/css/dx.greenmist.compact.css" rel="stylesheet">
<style>
    #loader {
        display: none;
    }
    .dx-datagrid {

        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }
    .dx-header-row {
        background-color: #f5f5f5;
    }
    tbody {
        background-color: #ffffff;
    }
    .dx-toolbar-items-container{

    }
    input[type="text"]{

    }
    .dx-toolbar .dx-toolbar-after {
        padding-left: 0px;
        padding-right: 2px;
        padding-top: 2px;
    }

    @*

    h5 {
        color: white !important;
    }

    tr { /*
        height:20px!important;
        min-height: 20px;
        max-height:50px;*/
    }

    .table > tbody > tr > td, .table > tbody > tr > th {
        padding: 0.4rem;
    }

    thead {
        /*
        position: sticky;
        top: 100px;*/
    }

    #timekeeping {
        /*
        text-align: left;
        position: relative;
        border-collapse: collapse;*/
    }

    tbody {
        height: 600px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    tbody {
        display: block;
    }

    table {
        height: 600px;
        display: block;
    }*@
</style>
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Time Keeping</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Time Keeping</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="box-body">
                            @*
                                <div>
                                    <div class="row">
                                        <div class="col-6"><h6>MR:@MR</h6></div>
                                        <div class="col-6"><h6>AL:@AL</h6></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><h6>NW:@NW</h6></div>
                                        <div class="col-6"><h6>UL:@UL</h6></div>
                                    </div>
                                </div>
                            *@
                            @*
                                <div class="">
                                    <!--table-responsive-->
                                    <table id="" class="table table-bordered table-hover">
                                        <!--table table-bordered table-hover-->
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width:40px!important;">#</th>
                                                <th scope="col" style="min-width:150px">FullName</th>
                                                <th scope="col">1</th>
                                                <th scope="col">2</th>
                                                <th scope="col">3</th>
                                                <th scope="col">4</th>
                                                <th scope="col">5</th>
                                                <th scope="col">6</th>
                                                <th scope="col">7</th>
                                                <th scope="col">8</th>
                                                <th scope="col">9</th>
                                                <th scope="col">10</th>
                                                <th scope="col">11</th>
                                                <th scope="col">12</th>
                                                <th scope="col">13</th>
                                                <th scope="col">14</th>
                                                <th scope="col">15</th>
                                                <th scope="col">16</th>
                                                <th scope="col">17</th>
                                                <th scope="col">18</th>
                                                <th scope="col">19</th>
                                                <th scope="col">20</th>
                                                <th scope="col">21</th>
                                                <th scope="col">22</th>
                                                <th scope="col">23</th>
                                                <th scope="col">24</th>
                                                <th scope="col">25</th>
                                                <th scope="col">26</th>
                                                <th scope="col">27</th>
                                                <th scope="col">28</th>
                                                <th scope="col">29</th>
                                                <th scope="col">30</th>
                                                <th scope="col">31</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            foreach (var item in Model)
                                            {
                                                S++;
                                                <tr>
                                                    <td style="width:40px">@S.ToString()</td>
                                                    <td style="min-width:150px">item.Staff.FirstName item.Staff.LastName</td>
                                                    <td>item.TimeKeeping.D01</td>
                                                    <td>item.TimeKeeping.D02</td>
                                                    <td>item.TimeKeeping.D03</td>
                                                    <td>item.TimeKeeping.D04</td>
                                                    <td>item.TimeKeeping.D05</td>
                                                    <td>item.TimeKeeping.D06</td>
                                                    <td>item.TimeKeeping.D07</td>
                                                    <td>item.TimeKeeping.D08</td>
                                                    <td>item.TimeKeeping.D09</td>
                                                    <td>item.TimeKeeping.D10</td>
                                                    <td>item.TimeKeeping.D11</td>
                                                    <td>item.TimeKeeping.D12</td>
                                                    <td>item.TimeKeeping.D13</td>
                                                    <td>item.TimeKeeping.D14</td>
                                                    <td>item.TimeKeeping.D15</td>
                                                    <td>item.TimeKeeping.D16</td>
                                                    <td>item.TimeKeeping.D17</td>
                                                    <td>item.TimeKeeping.D18</td>
                                                    <td>item.TimeKeeping.D19</td>
                                                    <td>item.TimeKeeping.D20</td>
                                                    <td>item.TimeKeeping.D21</td>
                                                    <td>item.TimeKeeping.D22</td>
                                                    <td>item.TimeKeeping.D23</td>
                                                    <td>item.TimeKeeping.D24</td>
                                                    <td>item.TimeKeeping.D25</td>
                                                    <td>item.TimeKeeping.D26</td>
                                                    <td>item.TimeKeeping.D27</td>
                                                    <td>item.TimeKeeping.D28</td>
                                                    <td>item.TimeKeeping.D29</td>
                                                    <td>item.TimeKeeping.D30</td>
                                                    <td>item.TimeKeeping.D31</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            *@
                            <div class="">
                                <div class="demo-container">
                                    <div id="gridContainer" style="height:600px;" class="vertical-align text-center">
                                        <img src="/loader.png" class="loader-anim" width="50">
                                    </div>
                                    <div class="row pt-10">
                                        <div class="col">
                                            <div id="gridstatus"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>





@section Scripts{
    @*
        <!-- Diagram and Gantt -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/devexpress-diagram/2.1.65/dx-diagram.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/devexpress-gantt/4.1.33/dx-gantt.min.js"></script>

        <!-- DevExtreme Quill (required by the HtmlEditor UI component) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-quill/1.5.18/dx-quill.min.js"></script>

        <!-- DevExtreme library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.1.6/js/dx.all.js"></script>

        <!-- DevExpress.AspNet.Data -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-aspnet-data/2.8.6/dx.aspnet.data.min.js"></script>

        <!-- Development scripts -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/devexpress-diagram/2.1.65/dx-diagram.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/devexpress-gantt/4.1.33/dx-gantt.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-quill/1.5.18/dx-quill.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-aspnet-data/2.8.6/dx.aspnet.data.js"></script> -->
    *@


    <script type="text/javascript">

        var dataObj = {};

        $(document).ready(function () {
            $('#loader').hide();
            //$("thead").floatThead({top:100});
            $('#timekeeping').DataTable({
                paging: false,
                ordering: false,
                info: false,
            });
            $('.slimScrollDiv').css("height", "500px");
            $('.inner-content-div').css("height", "500px");

            /*
            $('#medium-indicator').dxLoadIndicator({
                height: 40,
                width: 40,
            });*/
            getTimeKeeping();

            console.clear();
        });
        function updateTimeKeeping(data) {
            console.clear();
            console.log("ROW UPDATED: ", data);

            $.ajax({
                url: "/upd-time-keeping",
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                error: function (err) {
                    console.clear();
                    console.log("Fail Response Data: ", data);
                    console.log("Error Code: ", err.status);
                    console.log("Error Response: ", err.responseText);
                    getTimeKeeping();
                }
            }).then(function (data) {
                console.log("status Code: ", data);
                if (data.statusCode != 200) {
                    getTimeKeeping();

                    $.toast({
                        heading: 'Update failed',
                        text: 'Status Code: ' + data.statusCode,
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });

                }
                else {
                    $.toast({
                        heading: 'Update successed',
                        text: 'Timekeeping has been updated successfully.',
                        icon: 'success',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
            });

            /*
            $.ajax({
                url: "/upd-time-keeping",
                type: 'POST',
                //dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                success: function (resp) {
                    console.log("Update Response: ");
                    console.log(resp);
                },
                error: function (err) {
                    console.clear();
                    console.log("Fail Response Data: ",data);
                    console.log("Error Code: ",err.status);
                    console.log("Error Response: ", err.responseText);
                }
            });*/

        }
        function getTimeKeeping() {
            $.ajax({
                type: "get",
                url: "/get-time-keeping",
                success: function (data) {
                    console.log(data);
                    var countlist = 0;
                    $(() => {
                        $('#gridContainer').dxDataGrid({
                            dataSource: data,
                            showBorders: true,
                            showRowLines: true,
                            paging: false,
                            /*loadPanel: {
                                enabled: true
                            },*/
                            selection: {
                                mode: 'single',
                            },
                            columnFixing: {
                                enabled: true
                            },
                            scrolling: {
                                useNative: false,
                                scrollByContent: true,
                                scrollByThumb: true,
                                mode: "standard",
                                showScrollbar: "onHover" // or "onScroll" | "always" | "never"
                            },
                            editing: {
                                allowUpdating: true,
                                allowAdding: false,
                                allowDeleting: false,
                                mode: 'row' // 'batch' | 'cell' | 'form' | 'popup'
                            },
                            columnMinWidth: 0,
                            hoverStateEnabled: true,
                            searchPanel: { visible: true },
                            headerFilter: { visible: true },
                            //columns: [html]

                            columns: [
                                                                                    /*{ dataField: 'timeKeeping.id', caption: 'id', width: 'auto', visible: true }*/,// visible: false
                                /*{
                                    calculateCellValue: function (rowData) {
                                        var count = countlist++;
                                        count = countlist - (data.length * 2);
                                        console.log(rowData);
                                        return count;
                                    },
                                    caption: "#",
                                    width: 'auto',
                                    allowFiltering: false,
                                    allowFixing: true,
                                    fixed: true,
                                    fixedPosition: "left",
                                    summaryType: 'count'
                                },*/
                                {
                                    calculateCellValue: function (rowData) {
                                        return rowData.staff.firstName + " " + rowData.staff.lastName;
                                    },
                                    caption: "Full Name",
                                    width: 'auto',
                                    allowFiltering: true,
                                    fixed: true,
                                    fixedPosition: "left",
                                    allowEditing: false
                                },

                                {
                                    dataField: 'timeKeeping.d01',
                                    caption: '1',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d02',
                                    caption: '2',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d03',
                                    caption: '3',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d04',
                                    caption: '4',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d05',
                                    caption: '5',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d06',
                                    caption: '6',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d07',
                                    caption: '7',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d08',
                                    caption: '8',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d09',
                                    caption: '9',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d10',
                                    caption: '10',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d11',
                                    caption: '11',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d12',
                                    caption: '12',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d13',
                                    caption: '13',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d14',
                                    caption: '14',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d15',
                                    caption: '15',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d16',
                                    caption: '16',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d17',
                                    caption: '17',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d18',
                                    caption: '18',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d19',
                                    caption: '19',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d20',
                                    caption: '20',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d21',
                                    caption: '21',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d22',
                                    caption: '22',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d23',
                                    caption: '23',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d24',
                                    caption: '24',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d25',
                                    caption: '25',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d26',
                                    caption: '26',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d27',
                                    caption: '27',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d28',
                                    caption: '28',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d29',
                                    caption: '29',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d30',
                                    caption: '30',
                                    width: 'auto'
                                },

                                {
                                    dataField: 'timeKeeping.d31',
                                    caption: '31',
                                    width: 'auto'
                                },
                            ],
                            onRowUpdated(e) {
                                updateTimeKeeping(e.data.timeKeeping);
                            },
                            onSelectionChanged(e) {
                                var timeKeeping = e.selectedRowsData[0].timeKeeping;
                                var h1 = 0, h2 = 0, h3 = 0, h4 = 0, h5 = 0, h6 = 0, h7 = 0, h8 = 0, h9 = 0, h10;
                                var totalMonthly = 0;
                                var totalAL = 0, totalMR = 0, totalNW = 0, totalUL = 0;
                                var maxHours = 0, minHours = 99999;


                                if (timeKeeping.d01 != null) {
                                    if ($.isNumeric(timeKeeping.d01.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d01.replace(',', '.'));
                                        if (timeKeeping.d01 > maxHours)
                                            maxHours == parseFloat(timeKeeping.d01.replace(',', '.'));
                                        if (timeKeeping.d01 < minHours)
                                            minHours == parseFloat(timeKeeping.d01.replace(',', '.'));
                                    }
                                    if (timeKeeping.d01 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d01 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d01 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d01 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d02 != null) {
                                    if ($.isNumeric(timeKeeping.d02.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d02.replace(',', '.'));
                                        if (timeKeeping.d02 > maxHours)
                                            maxHours == timeKeeping.d02;
                                        if (timeKeeping.d02 < minHours)
                                            minHours == timeKeeping.d02;
                                    }
                                    if (timeKeeping.d02 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d02 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d02 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d02 == "UL")
                                        totalUL++;

                                }
                                if (timeKeeping.d03 != null) {
                                    if ($.isNumeric(timeKeeping.d03.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d03.replace(',', '.'));
                                        if (timeKeeping.d03 > maxHours)
                                            maxHours == timeKeeping.d03;
                                        if (timeKeeping.d03 < minHours)
                                            minHours == timeKeeping.d03;
                                    }

                                    if (timeKeeping.d03 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d03 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d03 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d03 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d04 != null) {
                                    if ($.isNumeric(timeKeeping.d04.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d04.replace(',', '.'));
                                        if (timeKeeping.d04 > maxHours)
                                            maxHours == timeKeeping.d04;
                                        if (timeKeeping.d04 < minHours)
                                            minHours == timeKeeping.d04;
                                    }
                                    if (timeKeeping.d04 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d04 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d04 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d04 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d05 != null) {
                                    if ($.isNumeric(timeKeeping.d05.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d05.replace(',', '.'));
                                        if (timeKeeping.d05 > maxHours)
                                            maxHours == timeKeeping.d05;
                                        if (timeKeeping.d05 < minHours)
                                            minHours == timeKeeping.d05;
                                    }
                                    if (timeKeeping.d05 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d05 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d05 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d05 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d06 != null) {
                                    if ($.isNumeric(timeKeeping.d06.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d06.replace(',', '.'));
                                        if (timeKeeping.d06 > maxHours)
                                            maxHours == timeKeeping.d06;
                                        if (timeKeeping.d06 < minHours)
                                            minHours == timeKeeping.d06;
                                    }
                                    if (timeKeeping.d06 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d06 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d06 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d06 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d07 != null) {
                                    if ($.isNumeric(timeKeeping.d07.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d07.replace(',', '.'));
                                        if (timeKeeping.d07 > maxHours)
                                            maxHours == timeKeeping.d07;
                                        if (timeKeeping.d07 < minHours)
                                            minHours == timeKeeping.d07;
                                    }
                                    if (timeKeeping.d07 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d07 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d07 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d07 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d08 != null) {
                                    if ($.isNumeric(timeKeeping.d08.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d08.replace(',', '.'));
                                        if (timeKeeping.d08 > maxHours)
                                            maxHours == timeKeeping.d08;
                                        if (timeKeeping.d08 < minHours)
                                            minHours == timeKeeping.d08;
                                    }
                                    if (timeKeeping.d08 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d08 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d08 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d08 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d09 != null) {
                                    if ($.isNumeric(timeKeeping.d09.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d09.replace(',', '.'));
                                        if (timeKeeping.d09 > maxHours)
                                            maxHours == timeKeeping.d09;
                                        if (timeKeeping.d09 < minHours)
                                            minHours == timeKeeping.d09;
                                    }
                                    if (timeKeeping.d09 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d09 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d09 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d09 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d10 != null) {
                                    if ($.isNumeric(timeKeeping.d10.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d10.replace(',', '.'));
                                        if (timeKeeping.d10 > maxHours)
                                            maxHours == timeKeeping.d10;
                                        if (timeKeeping.d10 < minHours)
                                            minHours == timeKeeping.d10;
                                    }
                                    if (timeKeeping.d10 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d10 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d10 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d10 == "UL")
                                        totalUL++;
                                }

                                if (timeKeeping.d11 != null) {
                                    if ($.isNumeric(timeKeeping.d11.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d11.replace(',', '.'));
                                        if (timeKeeping.d11 > maxHours)
                                            maxHours == timeKeeping.d11;
                                        if (timeKeeping.d11 < minHours)
                                            minHours == timeKeeping.d11;
                                    }
                                    if (timeKeeping.d11 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d11 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d11 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d11 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d12 != null) {
                                    if ($.isNumeric(timeKeeping.d12.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d12.replace(',', '.'));
                                        if (timeKeeping.d12 > maxHours)
                                            maxHours == timeKeeping.d12;
                                        if (timeKeeping.d12 < minHours)
                                            minHours == timeKeeping.d12;
                                    }
                                    if (timeKeeping.d12 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d12 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d12 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d12 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d13 != null) {
                                    if ($.isNumeric(timeKeeping.d13.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d13.replace(',', '.'));
                                        if (timeKeeping.d13 > maxHours)
                                            maxHours == timeKeeping.d13;
                                        if (timeKeeping.d13 < minHours)
                                            minHours == timeKeeping.d13;
                                    }
                                    if (timeKeeping.d13 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d13 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d13 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d13 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d14 != null) {
                                    if ($.isNumeric(timeKeeping.d14.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d14.replace(',', '.'));
                                        if (timeKeeping.d14 > maxHours)
                                            maxHours == timeKeeping.d14;
                                        if (timeKeeping.d14 < minHours)
                                            minHours == timeKeeping.d14;
                                    }
                                    if (timeKeeping.d14 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d14 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d14 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d14 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d15 != null) {
                                    if ($.isNumeric(timeKeeping.d15.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d15.replace(',', '.'));
                                        if (timeKeeping.d15 > maxHours)
                                            maxHours == timeKeeping.d15;
                                        if (timeKeeping.d15 < minHours)
                                            minHours == timeKeeping.d15;
                                    }
                                    if (timeKeeping.d15 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d15 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d15 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d15 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d16 != null) {
                                    if ($.isNumeric(timeKeeping.d16.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d16.replace(',', '.'));
                                        if (timeKeeping.d16 > maxHours)
                                            maxHours == timeKeeping.d16;
                                        if (timeKeeping.d16 < minHours)
                                            minHours == timeKeeping.d16;
                                    }
                                    if (timeKeeping.d16 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d16 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d16 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d16 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d17 != null) {
                                    if ($.isNumeric(timeKeeping.d17.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d17.replace(',', '.'));
                                        if (timeKeeping.d17 > maxHours)
                                            maxHours == timeKeeping.d17;
                                        if (timeKeeping.d17 < minHours)
                                            minHours == timeKeeping.d17;
                                    }
                                    if (timeKeeping.d17 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d17 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d17 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d17 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d18 != null) {
                                    if ($.isNumeric(timeKeeping.d18.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d18.replace(',', '.'));
                                        if (timeKeeping.d18 > maxHours)
                                            maxHours == timeKeeping.d18;
                                        if (timeKeeping.d18 < minHours)
                                            minHours == timeKeeping.d18;
                                    }
                                    if (timeKeeping.d18 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d18 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d18 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d18 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d19 != null) {
                                    if ($.isNumeric(timeKeeping.d19.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d19.replace(',', '.'));
                                        if (timeKeeping.d19 > maxHours)
                                            maxHours == timeKeeping.d19;
                                        if (timeKeeping.d19 < minHours)
                                            minHours == timeKeeping.d19;
                                    }
                                    if (timeKeeping.d19 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d19 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d19 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d19 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d20 != null) {
                                    if ($.isNumeric(timeKeeping.d20.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d20.replace(',', '.'));
                                        if (timeKeeping.d20 > maxHours)
                                            maxHours == timeKeeping.d20;
                                        if (timeKeeping.d20 < minHours)
                                            minHours == timeKeeping.d20;
                                    }
                                    if (timeKeeping.d20 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d20 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d20 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d20 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d21 != null) {
                                    if ($.isNumeric(timeKeeping.d21.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d21.replace(',', '.'));
                                        if (timeKeeping.d21 > maxHours)
                                            maxHours == timeKeeping.d21;
                                        if (timeKeeping.d21 < minHours)
                                            minHours == timeKeeping.d21;
                                    }
                                    if (timeKeeping.d21 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d21 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d21 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d21 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d22 != null) {
                                    if ($.isNumeric(timeKeeping.d22.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d22.replace(',', '.'));
                                        if (timeKeeping.d22 > maxHours)
                                            maxHours == timeKeeping.d22;
                                        if (timeKeeping.d22 < minHours)
                                            minHours == timeKeeping.d22;
                                    }
                                    if (timeKeeping.d22 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d22 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d22 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d22 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d23 != null) {
                                    if ($.isNumeric(timeKeeping.d23.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d23.replace(',', '.'));
                                        if (timeKeeping.d23 > maxHours)
                                            maxHours == timeKeeping.d23;
                                        if (timeKeeping.d23 < minHours)
                                            minHours == timeKeeping.d23;
                                    }
                                    if (timeKeeping.d23 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d23 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d23 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d23 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d24 != null) {
                                    if ($.isNumeric(timeKeeping.d24.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d24.replace(',', '.'));
                                        if (timeKeeping.d24 > maxHours)
                                            maxHours == timeKeeping.d24;
                                        if (timeKeeping.d24 < minHours)
                                            minHours == timeKeeping.d24;
                                    }
                                    if (timeKeeping.d24 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d24 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d24 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d24 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d25 != null) {
                                    if ($.isNumeric(timeKeeping.d25.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d25.replace(',', '.'));
                                        if (timeKeeping.d25 > maxHours)
                                            maxHours == timeKeeping.d25;
                                        if (timeKeeping.d25 < minHours)
                                            minHours == timeKeeping.d25;
                                    }
                                    if (timeKeeping.d25 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d25 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d25 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d25 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d26 != null) {
                                    if ($.isNumeric(timeKeeping.d26.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d26.replace(',', '.'));
                                        if (timeKeeping.d26 > maxHours)
                                            maxHours == timeKeeping.d26;
                                        if (timeKeeping.d26 < minHours)
                                            minHours == timeKeeping.d26;
                                    }
                                    if (timeKeeping.d26 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d26 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d26 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d26 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d27 != null) {
                                    if ($.isNumeric(timeKeeping.d27.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d27.replace(',', '.'));
                                        if (timeKeeping.d27 > maxHours)
                                            maxHours == timeKeeping.d27;
                                        if (timeKeeping.d27 < minHours)
                                            minHours == timeKeeping.d27;
                                    }
                                    if (timeKeeping.d27 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d27 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d27 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d27 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d28 != null) {
                                    if ($.isNumeric(timeKeeping.d28.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d28.replace(',', '.'));
                                        if (timeKeeping.d28 > maxHours)
                                            maxHours == timeKeeping.d28;
                                        if (timeKeeping.d28 < minHours)
                                            minHours == timeKeeping.d28;
                                    }
                                    if (timeKeeping.d28 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d28 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d28 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d28 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d29 != null) {
                                    if ($.isNumeric(timeKeeping.d29.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d29.replace(',', '.'));
                                        if (timeKeeping.d29 > maxHours)
                                            maxHours == timeKeeping.d29;
                                        if (timeKeeping.d29 < minHours)
                                            minHours == timeKeeping.d29;
                                    }
                                    if (timeKeeping.d29 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d29 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d29 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d29 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d30 != null) {
                                    if ($.isNumeric(timeKeeping.d30.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d30.replace(',', '.'));
                                        if (timeKeeping.d30 > maxHours)
                                            maxHours == timeKeeping.d30;
                                        if (timeKeeping.d30 < minHours)
                                            minHours == timeKeeping.d30;
                                    }
                                    if (timeKeeping.d30 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d30 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d30 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d30 == "UL")
                                        totalUL++;
                                }
                                if (timeKeeping.d31 != null) {
                                    if ($.isNumeric(timeKeeping.d31.replace(',', '.'))) {
                                        totalMonthly += parseFloat(timeKeeping.d31.replace(',', '.'));
                                        if (timeKeeping.d31 > maxHours)
                                            maxHours == timeKeeping.d31;
                                        if (timeKeeping.d31 < minHours)
                                            minHours == timeKeeping.d31;
                                    }
                                    if (timeKeeping.d31 == "AL")
                                        totalAL++;
                                    if (timeKeeping.d31 == "MR")
                                        totalMR++;
                                    if (timeKeeping.d31 == "NW")
                                        totalNW++;
                                    if (timeKeeping.d31 == "UL")
                                        totalUL++;
                                }


                                if (minHours == 99999)
                                    minHours = 0;
                                console.clear();
                                console.log(totalMonthly);


                                //console.clear();
                                console.log("Selected Data: ");
                                console.log(e.selectedRowsData[0]);

                                var imgHTML = ``;

                                if (e.selectedRowsData[0].staff.imageFile == null || e.selectedRowsData[0].staff.imageFile == '')
                                    imgHTML = `<img src="/assets/personels/` + e.selectedRowsData[0].staff.guid + `/img/` + e.selectedRowsData[0].staff.imageFile + `"></img>`;
                                else
                                    imgHTML = `<img class="img-bordered-sm rounded-circle" src="/images/avatar/5.jpg"></img>`;



                                $('#gridstatus').html(`<div class='alert alert-success shadow-lg'><h6>Total: ` + data.length + ` Staff </h6>` +
                                    `<div class="pb-10">` + imgHTML + `</div>` +
                                    `<h6>Name: ` + e.selectedRowsData[0].staff.firstName + ` ` + e.selectedRowsData[0].staff.lastName +`</h6>`+
                                    `<div class="row">` +
                                    `<div class="col">`  + `<h6>Mountly Total: ` + totalMonthly + ` Hours</h6>` + `</div>` +
                                    `<div class="col">` + `<h6>Max hours in daily: ` + maxHours + ` - Min hours: ` + minHours + `</h6>` + `</div></div>` +
                                    `<div class="row">` +
                                    `<div class="col">` +
                                    `<h6> AL Total: ` + totalAL + `</h6>` +
                                    `<h6> MR Total: ` + totalMR + `</h6>` +
                                    `</div>` +
                                    `<div class="col-6">` + `<h6> NW Total: ` + totalNW + `</h6>` +
                                    `<h6> UL Total: ` + totalUL + `</h6>` + `</div>` +
                                    ` </div>` +

                                    `</div>`)
                                /*
                                var rowstatus = `<div class="alert alert-success shadow-lg">
                                                    <h6>`+ data.length +`</h6>
                                                    <h6>
                                                </div>`*/
                            },
                            /*
                            getSelectedRowsData(e) {
                                console.clear();
                                console.log("Selected Data: ");
                                console.log(e);
                            }
                            */
                        }).dxDataGrid("instance");
                    });
                    $('#gridContainer').removeClass('vertical-align');
                    $('#gridContainer').removeClass('text-center');

                    $('#gridstatus').html('<h6> Total: ' + data.length + '<h6>')
                }
            });
        }
                                                            /*
$('#dx-texteditor-input').on('input', function (e) {
console.log("changed!");
});
*/

        /*
        $('.dx-texteditor-input').on('input', function (e) {
            console.log("Changed :)");
        });
        */



                                                            //dx-texteditor-input

    </script>
}
