
@{
    ViewData["Title"] = "Identifications";
}
@model Opus.Models.ViewModels.Accounting.IdentificationIndexVM


<style>
    div.btn-group.bootstrap-select.mb-20.me-10 {
        max-width: 400px;
    }

    .form-select {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        font-size: 1rem;
        max-width: 400px;
        background-color: #2aa377;
        color: white;
        border: 1px solid #ccc !important;
        text-indent: 5px !important;
        /*box-shadow: 0 1px 5px 0 rgba(0,0,0,.21) !important;*/
    }

        .form-select:hover {
            transition: 1s;
        }

        .form-select option {
            background-color: mintcream;
            color: black;
            height: 40px !important;
        }

    option.selected {
        background-color: red !important;
        margin: 15px !important;
    }

    .sel-img {
        height: 20px;
        object-fit: cover;
    }

    .input-col {
        max-width: 400px;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #FFFFFF;
        opacity: 1;
    }

    .box {
        transition: 0.5s linear all;
    }

    .theme-primary .nav-tabs .nav-link.active {
        border-bottom-color: #2aa377 !important;
        background-color: #2aa377 !important;
        color: #ffffff;
    }

    .zmdi-border-inner {
        border-color: #2aa377 !important;
    }

    .zmdi-border-col {
        max-width: 424px;
    }
    thead{display:none!important}
</style>



<div class="container-full">

    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Identifications</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Identifications</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
    <section class="content">

        <div class="">
            <div class="col-12">
                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs customtab" role="tablist">
                            @*
                                <li class="nav-item"> <a class="nav-link waves-effect waves-dark active" data-bs-toggle="tab" href="#defTab" role="tab"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">Definitions</span></a> </li>
                                <li class="nav-item"> <a class="nav-link waves-effect waves-dark" data-bs-toggle="tab" href="#categoriesTab" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Categories</span></a> </li>*@
                            <li class="nav-item"> <a class="nav-link waves-effect waves-dark active" data-bs-toggle="tab" href="#depTab" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Departmants</span></a> </li>
                            <li class="nav-item"> <a class="nav-link waves-effect waves-dark" data-bs-toggle="tab" href="#bankTab" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Banks</span></a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            @*
                                <div class="tab-pane active" id="defTab" role="tabpanel">
                                    <div class="p-15">
                                        <form method="get" id="idsForm">

                                            <div class="row">
                                                <div class="col-2">
                                                    <h5 class="my-10">Definition</h5>
                                                </div>
                                                <div class="col-10">
                                                    <select class="selectpicker mb-20 me-10" data-style="btn-white" id="definition" required>
                                                        <option value="" selected disabled class="d-none">Select</option>
                                                        <option value="1">Supplier</option>
                                                        <option value="2">Customer</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-20">
                                                <div class="col-2">
                                                    <h5 class="my-10">Code: </h5>
                                                </div>
                                                <div class="col-10">
                                                    <input class="form-control input-col" id="code" type="text" disabled />
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-2">
                                                    <h5 class="my-10">Commercial Title: </h5>
                                                </div>
                                                <div class="col-10">
                                                    <select class="selectpicker mb-20 me-10" data-style="btn-white" id="commercial" required>
                                                        <option value="" selected disabled class="d-none">Select</option>
                                                        <option value="1">Şahıs</option>
                                                        <option value="2">LTD</option>
                                                        <option value="3">AŞ</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row pb-20">
                                                <div class="col-2">
                                                    <h5 class="my-10">Street Address: </h5>
                                                </div>
                                                <div class="col-10">
                                                    <textarea class="form-control input-col" placeholder="Street Address"></textarea>
                                                </div>
                                            </div>


                                            <div class="row pb-15">
                                                <div class="col-2">
                                                    <h5 class="my-10">Tax Authority: </h5>
                                                </div>
                                                <div class="col-10">
                                                    <input class="form-control input-col" type="text" placeholder="Tax Authority" />
                                                </div>
                                            </div>

                                            <div class="row pb-15">
                                                <div class="col-2">
                                                    <h5 class="my-10">Tax No: </h5>
                                                </div>
                                                <div class="col-10">
                                                    <input class="form-control input-col" type="text" placeholder="Tax No" />
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-2">
                                                    <h5 class="my-10">Bank: </h5>
                                                </div>
                                                <div class="col-10">
                                                    <select class="selectpicker mb-20 me-10" data-style="btn-white" id="commercial" required>
                                                        <option value="" selected disabled class="d-none">Select</option>
                                                        <option value="1">Akbank</option>
                                                        <option value="2">TC Ziraat Bankası</option>
                                                        <option value="3">Türkiye İş Bankası</option>
                                                    </select>
                                                    <buttom class="btn btn-success" style="margin-top:-20px;" data-bs-toggle="modal" data-bs-target="#modal-fill"><i class="fa fa-plus-square" aria-hidden="true"></i></buttom>
                                                </div>
                                            </div>

                                            <div class="row pb-15">
                                                <div class="col-2">
                                                    <h5 class="my-10">IBAN: </h5>
                                                </div>
                                                <div class="col-10">
                                                    <input class="form-control input-col" type="text" placeholder="IBAN" />
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-2">
                                                    <h5 class="my-10">Payment Terms: </h5>
                                                </div>
                                                <div class="col-10 my-10">
                                                    <input type="checkbox" id="term30" class="filled-in chk-col-success" />
                                                    <label for="term30">30  &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                                    <input type="checkbox" id="term60" class="filled-in chk-col-success" />
                                                    <label for="term60">60 &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                                    <input type="checkbox" id="term90" class="filled-in chk-col-success" />
                                                    <label for="term90">90  &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">

                                                </div>
                                            </div>

                                            <section class="mb-20">
                                                <div class="box-body py-0">
                                                    <div id="boxstate">
                                                        <div class="table-responsive">
                                                            <table class="table no-border" id="tab_def">
                                                                <thead>
                                                                    <tr class="text-start">
                                                                        <th class="pt-10"> </th>
                                                                        <th class="pt-10"> </th>
                                                                        <th class="pt-10"> </th>
                                                                        <th class="pt-10"> </th>
                                                                        <th class="pt-10"> </th>
                                                                        <th class="pt-10"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="tbody_def">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="border-top border-bottom">
                                                    <div class="row mt-4 mb-4">
                                                        <div class="col-2">
                                                            <h5 class="my-10">Contact: </h5>
                                                        </div>
                                                        <div class="col-10">
                                                            <div class="row">
                                                                <div class="col-xl-11 col-12">
                                                                    <div class="row">
                                                                        <div class="col-xl-3 col-md-6 col-12 pb-10">
                                                                            <div class="rounded text-center">
                                                                                <input type="text" id="fullname" placeholder='Full Name' class="form-control input-col" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xl-3 col-md-6 col-12 pb-10">
                                                                            <div class="rounded text-center">
                                                                                <select class="form-select input-col" id="departmantid">
                                                                                    <option value="" selected="selected" disabled class="d-none">Departmant</option>
                                                                                    <option value="1">HR</option>
                                                                                    <option value="2">Accounting</option>
                                                                                    <option value="3">Management</option>
                                                                                    <option value="4">Quality Control Manager</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xl-3 col-md-6 col-12 pb-10">
                                                                            <div class="rounded text-center">
                                                                                <input type="text" id="mobileNumber" class="form-control input-col" data-inputmask="'mask':[ '0(999) 999-9999']" data-mask="" placeholder="Mobile Number">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xl-3 col-md-6 col-12 pb-10">
                                                                            <div class="rounded text-center">
                                                                                <input type="email" id="email" placeholder='E-mail' class="form-control input-col" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-1 col-12">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <button id="add_defContact_row" type="button" class="btn btn-primary mb-10"><i class="fa fa-plus"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </section>

                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>
                                            <div class="row"><div class="col-2"></div><div class="col-10"></div></div>


                                            <div class="row pt-50">
                                                <div class="col-12">
                                                    <div style="float:right;">
                                                        <button class="btn btn-primary input-col">Submit</button>
                                                    </div>
                                                </div>

                                            </div>


                                        </form>
                                    </div>
                                </div>

                                <div class="tab-pane" id="categoriesTab" role="tabpanel">
                                    <div class="p-15">

                                        <div class="row">
                                            <div class="col-xl-4 col-12">
                                                <div class="box">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">Main Category</h4>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="inner-content-div">


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <div class="box">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">Sub Category</h4>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="inner-content-div">


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <div class="box">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">Tags</h4>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="inner-content-div">


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            *@
                            <div id="depTab" class="tab-pane active">
                                <div class="p-15">
                                    <div class="row">
                                        <div class="col-xl-2 col-12">
                                            <h5 class="my-10">Search: </h5>
                                        </div>
                                        <div class="col-xl-10 col-12">
                                            <input class="form-control input-col mb-20 me-10" type="text" placeholder="Search Departmant" id="search_deplist" onkeyup="searchDepFunc()" style="display: inline-block;" />
                                            <buttom class="btn btn-success waves-effect waves-light" style="" data-bs-toggle="modal" data-bs-target="#modal-dep"><i class="fa fa-plus-square" aria-hidden="true"></i></buttom>
                                        </div>
                                    </div>

                                    <div class="row mt-20">
                                        <div class="col-xl-2 col-12">
                                            <h5 class="my-10">Departmant List: </h5>
                                        </div>
                                        <div class="col-xl-10 col-12 zmdi-border-col">
                                            @*<input class="form-control input-col" type="text" placeholder="Departmant" />*@
                                            <div class="inner-content-div border zmdi-border-inner">
                                                <div class="table-responsive">
                                                    <table id="deps_table" class="table table-striped table-bordered no-header display" style="width:100%">
                                                        @foreach (var item in Model.Departmant_Enumerable)
                                                        {
                                                            <tr>
                                                                <td>@item.Name</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div id="bankTab" class="tab-pane">
                                <div class="p-15">
                                    <div class="row">
                                        <div class="col-xl-2 col-12">
                                            <h5 class="my-10">Search: </h5>
                                        </div>
                                        <div class="col-xl-10 col-12">
                                            <input class="form-control input-col mb-20 me-10" type="text" placeholder="Search Bank" id="search_banklist" onkeyup="searchBankFunc()" style="display: inline-block;" />
                                            <buttom class="btn btn-success waves-effect waves-light" style="" data-bs-toggle="modal" data-bs-target="#modal-bank"><i class="fa fa-plus-square" aria-hidden="true"></i></buttom>
                                        </div>
                                    </div>
                                    <div class="row mt-20">
                                        <div class="col-xl-2 col-12">
                                            <h5 class="my-10">Bank List: </h5>
                                        </div>
                                        <div class="col-xl-10 col-12 zmdi-border-col">
                                            @*<input class="form-control input-col" type="text" placeholder="Departmant" />*@
                                            <div class="inner-content-div border zmdi-border-inner">
                                                <div class="table-responsive">
                                                    <table id="banks_table" class="table table-striped table-bordered no-header display" style="width:100%">
                                                        @foreach (var item in Model.Bank_Enumerable)
                                                        {
                                                            <tr>
                                                                <td>@item.Name</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>




        </div>
    </section>


</div>

<form id="companyfrm" method="get"></form>

<!-- Modal Departmant -->
<div class="modal modal-fill fade" data-backdrop="false" id="modal-dep" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a departmant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Departmant: </label>
                    <input type="text" id="depinp" placeholder='HR' class="form-control" />
                    <div class="col-2">

                    </div>
                    <div class="col-12">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary float-end" id="add_bank_act" onclick=addDepFunc()>Add</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal Departmant-->
<!-- Modal Bank -->
<div class="modal modal-fill fade" data-backdrop="false" id="modal-bank" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a bank</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Bank Definition (Bank Name): </label>
                    <input type="text" id="bankinp" placeholder='AKBANK' class="form-control" />
                    <div class="col-2">

                    </div>
                    <div class="col-12">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary float-end" id="add_bank_act" onclick=addBankFunc()>Add</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal Bank-->
@section Scripts
{
    <script src="~/js/select-thumbnail.js"></script>
    <script src="~/js/ajax/accounting.js"></script>

    <script>
        function addBankFunc() {
            var def = $('#bankinp').val();
            if (def == null || def === 'null' || def === '' || def.length === 0 || def === 'undefined' || def === '{}' || def.match(/^ *$/) !== null) {
                alert("bank name field is required.");
            }
            else {
                addBank(def);
            }

        }

        function addDepFunc() {
            var def = $('#depinp').val();
            if (def == null || def === 'null' || def === '' || def.length === 0 || def === 'undefined' || def === '{}' || def.match(/^ *$/) !== null) {
                alert("bank name field is required.");
            }
            else {
                addDepartmant(def);
            }

        }
        function searchDepFunc() {

            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search_deplist");
            filter = input.value.toUpperCase();
            table = document.getElementById("deps_table");
            tr = table.getElementsByTagName("tr");
            if (filter == null || filter === 'null' || filter === '' || filter.length === 0 || filter === 'undefined' || filter === '{}' || filter.match(/^ *$/) !== null) {
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    tr[i].style.display = "";
                }
                if (filter.length < 1)
                    $('#search_deplist').removeClass('border-danger');
                else
                    $('#search_deplist').addClass('border-danger');

            }
            else {
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }


        }
        function searchBankFunc() {

            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search_banklist");
            filter = input.value.toUpperCase();
            table = document.getElementById("banks_table");
            tr = table.getElementsByTagName("tr");
            if (filter == null || filter === 'null' || filter === '' || filter.length === 0 || filter === 'undefined' || filter === '{}' || filter.match(/^ *$/) !== null) {
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    tr[i].style.display = "";
                }
                if (filter.length < 1)
                    $('#search_banklist').removeClass('border-danger');
                else
                    $('#search_banklist').addClass('border-danger');

            }
            else {
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
        $(document).ready(function () {


            $('#company').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                var val = $(this).val();
                $('#companyfrm').attr('action', "/accounting/ids/" + val).submit();
            });
            $('#definition').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                var val = $(this).val();
                $.ajax({
                    url: "/api/accounting/getDefCode/" + val,
                    success: function (data) {
                        $("#code").val(data);
                    }
                });
            });

        });
    </script>
}
