@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Opus.Models.DbModels.Accounting.Company
<style>
    div.btn-group.bootstrap-select.mb-20.me-10 {
        max-width: 400px;
    }
</style>
<div class="container-full">
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Identifications</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item"><a asp-controller="Current" asp-action="Index">Companies</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Name - Identification</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
    <section class="content">

        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="row">
                        <div class="col-2">
                            <h5 class="my-10">Company</h5>
                        </div>
                        <div class="col-10">
                            
                            <div id="companies">

                            </div>
                            @*
                            <select class="selectpicker mb-20 me-10" data-style="btn-white" id="comps">

                                <option data-tokens="Lorem">Sed posuere metus vel maximus fringilla.</option>
                                <option data-tokens="ipsum">Nam in nisl a ligula semper euismod.</option>
                                <option data-tokens="dolor">Ut rhoncus diam et elit tristique venenatis.</option>
                            </select>*@
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-2">
                        <h5 class="my-10">Definition</h5>
                    </div>
                    <div class="col-10">

                        <select class="selectpicker mb-20 me-10" data-style="btn-white">
                            <option data-tokens="1">Supplier</option>
                            <option data-tokens="2">Customer</option>
                        </select>

                    </div>
                </div>
            </div>


        </div>
    </section>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            var test = `<div class="btn-group bootstrap-select mb-20 me-10"><button type="button" class="btn dropdown-toggle btn-white show" data-bs-toggle="dropdown" role="button" data-id="comps" title="Sed posuere metus vel maximus fringilla." aria-expanded="true"><span class="filter-option pull-left">Sed posuere metus vel maximus fringilla.</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open show" role="combobox" style="margin: 0px; position: absolute; inset: 0px auto auto 0px; transform: translate(0px, 36px);" data-popper-placement="bottom-start">
                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="true">
                            <li data-original-index="0" class="selected">
                                <a tabindex="0" class="" data-tokens="Lorem" role="option" aria-disabled="false" aria-selected="true">
                                    <span class="text">Sed posuere metus vel maximus fringilla.</span><span class="glyphicon glyphicon-ok check-mark">
                                    </span>
                                </a>
                            </li>

                            <li data-original-index="1">
                                <a tabindex="0" class="" data-tokens="ipsum" role="option" aria-disabled="false" aria-selected="false">
                                    <span class="text">Nam in nisl a ligula semper euismod.</span><span class="glyphicon glyphicon-ok check-mark">
                                    </span>
                                </a>
                            </li>

                            <li data-original-index="2">
                                <a tabindex="0" class="" data-tokens="dolor" role="option" aria-disabled="false" aria-selected="false">
                                    <span class="text">Ut rhoncus diam et elit tristique venenatis.</span><span class="glyphicon glyphicon-ok check-mark">
                                    </span>
                                </a>
                            </li>
                    </ul></div><select class="selectpicker mb-20 me-10" data-style="btn-white" id="comps" tabindex="-98">

                                <option data-tokens="Lorem">Sed posuere metus vel maximus fringilla.</option>
                                <option data-tokens="ipsum">Nam in nisl a ligula semper euismod.</option>
                                <option data-tokens="dolor">Ut rhoncus diam et elit tristique venenatis.</option>
                            <option data-tokens="4955e8b7-33ad-429e-107c-08da2f601faa">Many Points</option><option data-tokens="22bdc8ad-1fbe-437d-3486-08da2f638e84">Expert Quality Services</option></select></div>`;

            var options = ``;
            var selectopts = ``;
            var button = `<button type="button" class="btn dropdown-toggle btn-white" data-bs-toggle="dropdown" role="button" data-id="comps" title="`+'@Model.Name'+`"><span class="filter-option pull-left">`+'@Model.Name'+`</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>`;
            $.ajax({
                url: '/api/accounting/get-comps',
                success: function (data) {
                    $.each(data, function (i, val) {
                        if (val.id == '@Model.Id') {
                            options += `<li data-original-index="`+i+`" class="selected">
                                <a tabindex="0" class="" data-tokens="`+val.id+`" role="option" aria-disabled="false" aria-selected="true">
                                    <span class="text">`+val.name+`</span><span class="glyphicon glyphicon-ok check-mark">
                                    </span>
                                </a>
                            </li>`;
                            selectopts += `<option data-tokens="` + val.id + `">` + val.name + `</option>`;
                        }
                        else {
                            options += `<li data-original-index="` + i + `">
                                <a tabindex="0" class="" data-tokens="`+ val.id + `" role="option" aria-disabled="false" aria-selected="false">
                                    <span class="text">`+ val.name + `</span><span class="glyphicon glyphicon-ok check-mark">
                                    </span>
                                </a>
                            </li>`;
                            selectopts += `<option data-tokens="` + val.id + `">` + val.name + `</option>`;
                        }

                        /*options += `<option data-tokens=" + val.id + ">" + val.name + "</option>"`;*/
                        /*
                        $("#comps").after()
                        $("#comps").append("<option data-tokens=" + val.id + ">" + val.name + "</option>");*/
                    });
                    var compHtlm = `<div class="btn-group bootstrap-select mb-20 me-10">`+button+`
                                        <div class="dropdown-menu open" role="combobox">
                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
`+options+`
                    </ul></div><select class="selectpicker mb-20 me-10" data-style="btn-white" id="comps" tabindex="-98">`+selectopts+`</select></div>`;

                    $("#companies").html(compHtlm);
                }
            });

        });
    </script>
}