/*
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/
.center {
    display: flex;
    align-items: center;
}
.danger {
    color: #ff0000 !important;
}
#loader {
    background: #fff url(/images/preloaders/1.gif) no-repeat center center!important;
}
.shadow-selected {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.box-hover:hover {
    transition-duration: 0.3s;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.box-hover {
    transition-duration: 0.3s;
}
.box-comp{
    min-width:100px;
    max-width:300px;
    height:200px;
}
/*temporary*/
table {
    border: 1px solid green;
    border-collapse: collapse;
    width: 100%;
}

    table td {
        border: 1px solid green;
    }

        table td.shrink {
            white-space: nowrap
        }

        table td.expand {
            width: 99%
        }

thead {
    font-size: 12px;
}

tbody {
    font-size: 12px;
}
/*temporary*/
