/*
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/
.danger {
    color: #ff0000 !important;
}
#loader {
    background: #fff url(/images/preloaders/1.gif) no-repeat center center!important;
}