/*
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/
/*Sidebar*/
.opus-sidebar {
    border-right: 0px solid rgba(72, 94, 144, 0.16);
    /*background-color: #172b4c;*/
    background-image: url('/images/sidebar.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.opus-color {
    color: #2aa377;
}
.opus-bgColor {
    background-color: #2aa377;
}
/*Sidebar*/
.rotate {
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.center {
    display: flex;
    align-items: center;
}

.danger {
    color: #ff0000 !important;
}

#loader {
    /*background: #fff url(/images/preloaders/1.gif) no-repeat center center!important;*/
    /*background: #fff url(/loader.png) no-repeat center center !important;*/
    /*background-image:url(/loader.png);*/
}

.loader-anim {
    animation: rotation 2s infinite linear;
}

.shadow-1-strong {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.21) !important;
}

.shadow-2-strong {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.21) !important;
}

.shadow-3-strong {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.21) !important;
}

.shadow-4-strong {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.21) !important;
}

.shadow-5-strong {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.21) !important;
}

.shadow-selected {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.box-hover:hover {
    transition-duration: 0.3s;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.box-hover {
    transition-duration: 0.3s;
}

.box-comp {
    min-width: 100px;
    max-width: 300px;
    height: 200px;
}

.input-col {
    max-width: 400px;
}

.select2-container {
    max-width: 400px !important;
    min-width: 90px !important;
    width: 400px!important;
}

.select2-dropdown.select2-dropdown--below {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.21) !important;
}
/*temporary*/
table {
    border: 1px solid green;
    border-collapse: collapse;
    width: 100%;
}

    table td {
        border: 1px solid green;
    }

        table td.shrink {
            white-space: nowrap
        }

        table td.expand {
            width: 99%
        }

thead {
    font-size: 12px;
}

tbody {
    font-size: 12px;
}

.theme-primary.light-skin .sidebar-menu > li.active {
    background-color: rgba(0, 82, 204, 0) !important;
    color: white !important;
    border-left: 5px solid #2aa377 !important;
}

.box {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.21) !important;
}

.btn-opus {
    background-color: #2aa377 !important;
    border-color: #2aa377 !important;
    color: #ffffff !important;
}

.btn-white {
    background-color: #f8f8f8 !important;
    border-color: #e8e8e8 !important;
    color: #000000 !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline: none !important;
    outline-offset: 0 !important;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.30) !important;
}

.theme-primary .form-control:focus {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75) !important;
}
.sidebar-collapse > .sidebar-title {
    transition:2s;
    font-size: 0 !important;
    
}
.sidebar-collapse > waves-ripple {
    font-size: 0 !important;
}
.sidebar-collapse > .main-sidebar > img {
    max-width: 0 !important;
    z-index:-1;
}
table.dataTable {
    border-collapse: collapse !important;
}
.blurarea {
    filter: blur(1px);
    backdrop-filter:blur(1px);
    position: fixed;
    width: 100%;
    height: 100%;
    /*z-index:2;*/
    top:0;
    left:0;
}

    /*border-collapse: separate !important;*/
    /*
.sidebar-collapse div.wrapper .main-sidebar .light-skin.sidebar a {
    color: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}*/
    /*
.btn-dark {
    background-color: #2aa377 !important;
    border-color: #2aa377 !important;
    color: #ffffff !important;
}*/
    /*temporary*/
