@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Opus.Models.ViewModels.ReferenceVerif.AllModelsVM
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Locations</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Training</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body">



                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#trainingtab" role="tab"><span><i class="ion-home"></i></span><span class="hidden-xs-down ms-15">Training</span></a> </li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#trainertab" role="tab"><span><i class="ion-home"></i></span><span class="hidden-xs-down ms-15">Trainer</span></a> </li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#referencelist" role="tab"><span><i class="ion-home"></i></span><span class="hidden-xs-down ms-15">Reference List</span></a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#companylist" role="tab"><span><i class="ion-home"></i></span><span class="hidden-xs-down ms-15">Companies</span></a></li>
                    </ul>
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane active" id="trainingtab" role="tabpanel">

                            <div class="p-15">
                                <div class="box-header with-border">
                                    <h4 class="box-title">Training</h4>
                                    <a href="/training/add" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                                </div>

                                <div class="table-responsive">
                                    <table id="trainingTable" class="table table-hover table-bordered table-striped dataTables">
                                        <thead>
                                            <tr>
                                                <th class="d-none"></th>
                                                <th>Subject</th>
                                                <th>Description</th>
                                                <th>Location</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        <td>@item.CountryId</td>
                                                        <td>@item.Active</td>
                                                        <td>@item.ColorHex</td>
                                                    </tr>
                                                }*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="trainertab" role="tabpanel">
                            <div class="p-15">
                                <div class="box-header with-border">
                                    <h4 class="box-title">Trainer</h4>
                                    <a href="/training/add-trainer" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                                </div>
                                Trainers

                            </div>
                        </div>

                        <div class="tab-pane" id="referencelist" role="tabpanel">
                            <div class="p-15">

                                <div class="box-header with-border">
                                    <h4 class="box-title">Reference</h4>
                                    <a href="/training/add-reference" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div id="message_refList"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="p-15">
                                <div class="row">
                                    <div class="col">
                                        <table id="reference_list" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th class="d-none"></th>
                                                    <th>Location</th>
                                                    <th>Company</th>
                                                    <th>Reference</th>
                                                    <th>Company Reference</th>
                                                    <th>State</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="companylist" role="tabpanel">
                            <div class="p-15">

                                <div class="box-header with-border">
                                    <h4 class="box-title">Companies</h4>
                                    <a href="/training/add-company" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div id="message_refList"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="p-15">
                                <div class="row">
                                    <div class="col">
                                        <table id="company_list" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th class="d-none"></th>
                                                    <th>Location</th>
                                                    <th>Company</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">

        var compId = '00000000-0000-0000-0000-000000000000';
        var locId = '00000000-0000-0000-0000-000000000000';
        var custDefId = '00000000-0000-0000-0000-000000000000';
        var reference = '';
        var CustomerRef = '';

        $(document).ready(function () {
            $('#trainingTable').DataTable({});

            $(document.body).on("change", "#locationId", function (e) {
                locId = this.value;
                //console.log(compId);
                /*Query in CustomerDefinitions with ajax*/

                //$('#companyId').val(null).trigger('change');
                $("#companyId").empty();
                var _optionemp = new Option("Select Company", "00000000-0000-0000-0000-000000000000", true, true);
                $('#companyId').append(_optionemp).trigger('change');
                $.ajax({
                    url: '/api/qs/rv/get-custDef/' + this.value,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {


                        console.log(data);
                        $.each(data, function (i, val) {
                            var _option = new Option(val.company.name, val.id);
                            $('#companyId').append(_option).trigger('change');
                        });
                    }
                });

            });

            $(document.body).on("change", "#companyId", function (e) {
                compId = this.value;
                //listCustDef(this.value);
            });
            listCompany();
            listReference();
            listTraining();
        })
        //companylist
        function listCustDef(cusId) {
            //cust_def_list
            var customerlistforDef = $('#cust_def_list').DataTable({
                order: [[1, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": '/api/qs/rv/get-custDef/' + cusId,
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "customer.company.name" },
                    { "data": "company.name" },
                ]
            });
            //$("#categoryId").select2({ width: '200px' });
        }
        function listCompany() {
            //cust_def_list
            var companylistforDef = $('#company_list').DataTable({
                order: [[1, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": '/api/hr/get-companies-all/',
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "location.name" },
                    { "data": "name" },
                ]
            });
            //$("#categoryId").select2({ width: '200px' });
        }
        function listReference() {
            //cust_def_list
            var referencelist = $('#reference_list').DataTable({
                order: [[1, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": '/api/hr/get-references/',
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "location.name" },
                    { "data": "company.name" },
                    { "data": "reference" },
                    { "data": "companyReference" },
                    { "data": "active" },
                ]
            });
            //$("#categoryId").select2({ width: '200px' });
        }
        function listTraining() {
            //cust_def_list
            var referencelist = $('#trainingTable').DataTable({
                order: [[1, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": '/api/hr/list-training/',
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "subject" },
                    { "data": "description" },
                    { "data": "location.name" },
                    {
                        "data": "id",
                        /*"type": "num-fmt",*/
                        render: function (data, type, row) {
                            return `<a href="training/view/` + data + `" role="button" class="list-icons-item me-10 card-btn"><i class="fa fa-id-card"></i> View</a>
                                    <a href="training/edit/` + data + `" role="button" class="list-icons-item me-10 card-btn"><i class="fa fa-edit"></i> Edit</a>

`
                        },
                    },
                ]
            });
            //$("#categoryId").select2({ width: '200px' });
        }
    </script>
}

@*
    [Key]
    public Guid Id { get; set; }
    public string Reference { get; set; }
    public string CompanyReference { get; set; }
    public string BarcodeNum { get; set; }
    public Guid CompanyId { get; set; }
    [ForeignKey("CompanyId")]
    public Company Company { get; set; }
    public long LocationId { get; set; }
    [ForeignKey("LocationId")]
    public Location Location { get; set; }


*@