
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Opus.Models.DbModels.Staff>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">

                <div class="box-header with-border">
                    <h4 class="box-title">Staff based users</h4>
                </div>

                <div class="box-body">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#staffuserlist" role="tab"><span><i class="ion-android-list"></i></span><span class="hidden-xs-down ms-15">List</span></a> </li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#staffuseradd" role="tab"><span><i class="ion-person-add"></i></span><span class="hidden-xs-down ms-15">Add</span></a> </li>
                    </ul>
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane active" id="staffuserlist" role="tabpanel">
                            <div class="p-15">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">

                                            <table class="table table-hover table-bordered table-striped dataTables" id="staffuser">
                                                <thead>
                                                    <tr>
                                                        <th class="d-none"></th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>User Name</th>
                                                        <th>User Password</th>
                                                        <th>Authtentication</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>@item.FirstName</td>
                                                                <td>@item.LastName</td>
                                                                <td>@item.AppUser</td>
                                                                <td>@item.Auth</td>
                                                            </tr>
                                                        }*@
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="staffuseradd" role="tabpanel">
                            <div class="p-15">

                                <h4>Add User</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-12">
                                        <h6 class="my-10">Select Staff:</h6>
                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <select class="form-control select2" style="width: 100%;" id="userstaffselect">
                                        </select>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-lg-2 col-12">
                                        <h6 class="my-10">User Name(Login ID):</h6>
                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <input class="form-control custom-date" type="text" id="userNameId" name="UserName" style="max-width:200px;" placeholder="User Name" value="" maxlength="10">
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-lg-2 col-12">
                                        <h6 class="my-10">Password:</h6>
                                    </div>
                                    <div class="col-lg-2 col-12">
                                        <input class="form-control custom-date" type="text" name="Password" style="max-width:200px;background-color:#FFFFFF;" readonly="" maxlength="6">
                                    </div>
                                    <div class="col-lg-4 col-12 my-1">
                                        <button class="btn btn-sm btn-primary" onclick="generatePass()">Generate</button>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-lg-2 col-12">
                                        <h6 class="my-10">Is Active:</h6>
                                    </div>
                                    <div class="col-lg-4 col-12 my-2">
                                        <input type="checkbox" id="active_check" class="filled-in chk-col-success" checked="checked">
                                        <label for="active_check">Active</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-12">
                                        <h6 class="my-10">Is Officer:</h6>
                                    </div>
                                    <div class="col-lg-4 col-12 my-2">
                                        <input type="checkbox" id="admin_check" class="filled-in chk-col-success">
                                        <label for="admin_check" id="adminCheckLabel">User</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="message">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-opus" style="float:right;" id="addUser" onclick="userstaffPost()">Add User</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script type="text/javascript">
        var messageTEXT = '';
        var apiurl = '/api/hr/';
        var admin = 2;
        $(document).ready(function () {
            //$('#staffuser').DataTable({});
            listUsers();
            userstaffSelect();
            admin_checkBox();

            $("#userstaffselect").on("select2:select", function (e) {
                const fullnameId = $(e.currentTarget).val();
                const fullname = $('#userstaffselect').find(':selected')[0].innerText;
                if (fullname != "Select Staff") {
                    $('#message').html('');
                    generateUsername(fullname);
                    generatePass();
                    $('#addUser').prop('disabled', false);
                }

            });

        });
        function listUsers() {
            //cust_def_list
            var staffuserlist = $('#staffuser').DataTable({
                order: [[1, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": apiurl + 'staff-user-added/',
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "firstName" },
                    { "data": "lastName" },
                    { "data": "appUser" },
                    { "data": "appPassword" },
                    { "data": "auth" },
                    /*{
                        "data": "id",
                        "type": "num-fmt",
                        render: function (data, type, row) {
                            return `<a href="training/view/` + data + `" role="button" class="list-icons-item me-10 card-btn"><i class="fa fa-id-card"></i> View</a>
                                    <a href="training/edit/` + data + `" role="button" class="list-icons-item me-10 card-btn"><i class="fa fa-edit"></i> Edit</a>

`
                        },
                    },*/
                ]
            });
            //$("#categoryId").select2({ width: '200px' });
        }
        function userstaffSelect() {
            $("input[name=UserName]").val('');
            $("input[name=Password]").val('');
            $('#userstaffselect').empty().trigger("change");

            var userstaffselect = $('#userstaffselect');
            //staffSelect.val(null).trigger('change');
            var option = new Option('Select Staff', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            userstaffselect.append(option).trigger('change');


            $.ajax({
                url: apiurl + 'staff-user-non-added/',
                type: "GET",
                contentType: "application/json; charset=utf-8",
            }).then(function (data) {
                $.each(data, function (key, value) {
                    // create the option and append to Select2
                    var option = new Option(value.firstName + ' ' + value.lastName, value.id, false, false);
                    userstaffselect.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    userstaffselect.trigger({
                        type: 'select2:select',
                        params: {
                            data: value
                        }
                    });


                });

            });
        }/*
            function getLocationAjx() {

            }*/
        function generateUsername(fullname) {
            $.ajax({
                url: apiurl + 'generate-username',
                data: JSON.stringify(fullname),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (received) {
                    $('input[name="UserName"]').val(received);
                }
            });
        }
        function generatePass() {
            $.ajax({
                url: apiurl + 'generate-pass',
                data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (received) {
                    $('input[name="Password"]').val(received);
                }
            });
        }

        function userstaffPost() {
            $('#addUser').prop('disabled', true);
            const userName = $("input[name=UserName]").val();
            const password = $("input[name=Password]").val();
            const userselect = $('#userstaffselect').find(':selected').val();

            if (userName == "") {
                messageTEXT = "Username field required";
                const messageHTML = `<div class="alert alert-warning">` + messageTEXT + `</div>`;
                $('#message').html(messageHTML);
            }
            else if (password == "") {
                messageTEXT = "Password field required";
                const messageHTML = `<div class="alert alert-warning">` + messageTEXT + `</div>`;
                $('#message').html(messageHTML);
            }
            else if (userselect == 0) {
                messageTEXT = "Staff selection required";
                const messageHTML = `<div class="alert alert-warning">` + messageTEXT + `</div>`;
                $('#message').html(messageHTML);
            }
            else {
                setTimeout(function () {
                    $('#message').html('');
                    //$('#addUser').prop("disabled", true);
                    //userstaffSelect();
                    const user = {
                        id: userselect,
                        appUser: userName,
                        appPassword: password,
                        auth: admin
                    };
                    console.log("user staff post triggerd!");
                    $.ajax({
                        url: apiurl + 'staff-user-add',
                        data: JSON.stringify(user),
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                            showLoader();
                        },
                        success: function (received) {

                            //$('input[name="UserName"]').val(received);
                            userstaffSelect();
                            $('#addUser').prop('disabled', false);
                            useraddedtoast();
                            hideLoader();
                            listUsers();
                        }
                    });
                }, 500);


            }

        }
        function admin_checkBox() {
            $("#admin_check").change(function () {
                $('#message').html("");
                if (this.checked) {
                    admin = 1;
                    $('label[for="admin_check"]').html("Officer");
                }
                else {
                    admin = 2;
                    $('label[for="admin_check"]').html("User");
                }
            });
        }
        function useraddedtoast() {
            $.toast({
                heading: 'User added',
                text: 'The user has been successfully. You can see details in list.',
                icon: 'success',
                showHideTransition: 'slide',
                loader: false,        // Change it to false to disable loader
                loaderBg: '#2aa377',  // To change the background
                position: 'top-right',
                hideAfter: 5000
            });
        }
        function showLoader() {
            $('#loader').attr('style', 'opacity: 0.99');
            $('#loader').attr('style', 'display: block');
            $('#opus-content').addClass('d-none');
        }
        function hideLoader() {
            $('#loader').attr('style', 'opacity: 0.01');
            $('#loader').attr('style', 'display: none');
            $('#opus-content').removeClass('d-none');
        }
        $('#addUser').once('click', function (e) {
            userstaffPost();
        });
    </script>



}