
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Opus.Models.DbModels.Accounting.Company>
@using static Opus.Utility.ProjectConstant.Path
<div class="container-full">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Accounting</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Companies</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="pb-10"></div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Add Company</h4>
                        <a asp-area="Accounting" asp-controller="Company" asp-action="Add" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            var _logo = AccountingPath.Company.Root + item.Id.ToString() + AccountingPath.Company.ProfileIMG + item.ImageFile;
                            <div class="col-3">
                                <div class="box-body">
                                    <div class="box box-inverse box-comp box-outline-success box-hover waves-effect waves-dark">
                                        <a href="#@item.Id.ToString()" style="color:white;">
                                            <div class="box-body d-flex justify-content-center align-items-center" style="height:100%;">
                                                @*<span>@item.Name</span>*@
                                                <img src="@_logo" style='height: 100%; width: 100%; object-fit: contain' />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


