
@model Opus.Models.DbModels.Accounting.Company
<div class="container-full" ondragstart="return false;" ondrop="return false;" draggable="false" onmousedown='return false;' onselectstart='return false;' style="white-space:nowrap">
    <!-- Content Header (Page header) -->
    <div class="content-header">

        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Accounting</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" ><a href="/accounting/curr">Currents</a></li>
                            <li class="breadcrumb-item" aria-current="page">Buying</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <div class="pb-10"></div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="row">
                        <div class="p-20">
                            fasdgasdgfasdgasdga
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

